<div class="uk-card uk-card-default uk-width-1-2@m ads-card">
  <div class="uk-card-header">
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-auto"></div>
      <div class="uk-width-expand">
        <br />
        <p class="uk-text-meta uk-margin-remove-top uk-text-small">
          {{title}}
        </p>
      </div>
    </div>
  </div>
  <div class="uk-card-body">
    <p class="uk-text-small">{{description}}</p>
  </div>
  <div class="uk-card-body">
    <p class="uk-text-small">{{subject.subjectName}}</p>
  </div>
  <div class="uk-card-footer">
    <a href="#" class="uk-button uk-button-text">
      <p class="uk-text-small">{{price.price}}</p></a>
  </div>
  <br />
  <br />
  <div
    class="uk-card uk-card-default uk-width-1-2@m uk-position-bottom-center uk-margin-bottom"
  >
    <button class="uk-button uk-button-primary" id="viewResponsesBtn">View Responses</button>

  </div>
</div>