<footer>
  <div>
    <div class="footer-section">
      <div class="info-links">
        <p>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          <a href="mailto:buddyup@gmail.com">
            <i class="fa-solid fa-envelope"></i></a>
        </p>
      </div>
      <div class="footer-text">
        <p class="footer-p">Buddy Up@ 2022 All rights reserved</p>
      </div>

    </div>
  </div>
</footer>