<header>
  <button id="logout-btn">log out</button>

  <ul>
    <li>
      <a href="/createAds">My ads</a>
    </li>
    <li>
      <a href="/viewAds">View ads</a>
    </li>
    <li>
      <a href="/sessions">My sessions</a>
    </li>
  </ul>

</header>