<header>
  <!-- nav-bar -->
  <nav class="uk-navbar-container uk-navbar nav">
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" href="#"><i
          class="fa-solid fa-people-arrows-left-right fa-color"
        ></i>Buddy Up
      </a>
    </div>
    <div class="uk-navbar-right nav-links">
      <ul class="uk-navbar-nav">
        <li class="uk-active link"><a class="links" href="/auth">Login in</a></li>
        <li class="uk-active link">
          <a href="/auth">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>