<li class="uk-animation-fade">
  <div>
    <progress class="uk-progress" value="50" max="100"></progress>
  </div>
  <h3 class="uk-card-title uk-text-center">Please enter your price per session</h3>
  <form id="profile3">
    <div class="uk-margin">
        <div class="uk-margin">
        <input class="uk-range" id="priceRange" type="range" value="1" min="1" max="50" step="1">
        <h2 id="priceValueText">£1</h2>
    </div>
    </div>
    <div class="uk-margin">
      <button id="page3Submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Next</button>
    </div>
  </form>
</li>
<li>
    <div>
        <progress class="uk-progress" value="75" max="100"></progress>

    </div>
  <h3 class="uk-card-title uk-text-center">Please enter your links</h3>
  <form id="profile4">
    <div class="uk-margin">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: linkedin"></span>
        <input class="uk-input uk-form-large" type="text" id="socialMediaLink" placeholder="Social Media">
      </div>
    </div>
    <div class="uk-margin">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: calendar"></span>
        <input class="uk-input uk-form-large" type="text" id="calendlyLink" placeholder="Calendly Link">	
      </div>
    </div>
    <div id="profile-error"></div>
    <div class="uk-margin">
      <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Submit</button>
    </div>