
<main>
    <h1>Welcome {{userDetails.firstName}} to your Tutor Dashboard</h1>
    {{#if  (isEqualTo userDetails.isProfileComplete 0) }}
      <button id="complete-profile-btn">Complete Profile</button>
    {{/if}}

</main>