<main>
  <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
      <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
          <div class="uk-width-1-1@m">
            <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
              <ul class="uk-tab uk-flex-center" uk-grid uk-switcher="animation: uk-animation-fade">
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
              </ul>
              <ul class="uk-switcher uk-margin">
                <li>
                  <h3 class="uk-card-title uk-text-center" id="test">Sign up today. It's free!</h3>
                  <form id="signup-form">
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input uk-form-large" type="text" id="firstName" placeholder="First name">
                      </div>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input uk-form-large" type="text" id="lastName" placeholder="Last name">
                      </div>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input uk-form-large" type="text" id="email" placeholder="Email address">
                      </div>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input uk-form-large" type="password" id="password" placeholder="Set a password">	
                      </div>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input uk-form-large" type="password" id="confirmPassword" placeholder="Confirm password">	
                      </div>
                    </div>
                    <div class="uk-text-medium uk-text-left">
                      Please select type of account
                    </div>
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                      <label><input class="uk-radio" type="radio" value="student" name="radio-choice"> Student</label>
                      <label><input class="uk-radio" type="radio" value="tutor" name="radio-choice" checked> Tutor</label>
                    </div>
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                      <label><input class="uk-checkbox" type="checkbox" id="termsAndConditions"> I agree the Terms and Conditions.</label>
                    </div>
                    <div id="signup-error"></div>
                    <div class="uk-margin">
                      <button class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit">Sign Up</button>
                    </div>
                    <div class="uk-text-small uk-text-center">
                      Already have an account? <a href="#" uk-switcher-item="1">Log in</a>
                    </div>
                  </form>
                </li>
                <li>
                  <h3 class="uk-card-title uk-text-center">Welcome back!</h3>
                  <form id="login-form">
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input uk-form-large" type="text" id="login-email" placeholder="Email address">
                      </div>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input uk-form-large" type="password" id="login-password" placeholder="Password">	
                      </div>
                    </div>
                    <div class="uk-margin">
                      <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Login</button>
                    </div>
                    <div class="uk-text-small uk-text-center">
                      Not registered? <a href="#" uk-switcher-item="0">Create an account</a>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>