{{> privateNavBar }}

<main>
  <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
      <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
          <div class="uk-width-1-1@m">
            <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
              <ul class="uk-subnav uk-subnav-pill" style="display: none" uk-switcher>
                <li><a href="#">Page1</a></li>
                <li><a href="#">Page2</a></li>
                <li><a href="#">Page3</a></li>
                <li><a href="#">Page4</a></li>
              </ul>
              <ul class="uk-switcher uk-margin">
                <li>
                    <div>
                        <progress class="uk-progress" value="5" max="100"></progress>
                    </div>
                  <h3 class="uk-card-title uk-text-center">Page 1!</h3>
                  <form id="login-form">
                    <div class="uk-text-medium uk-text-left">
                      Please select type of account
                    </div>
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                      <label><input class="uk-radio" type="radio" value="student" name="login-choice"> Student</label>
                      <label><input class="uk-radio" type="radio" value="tutor" name="login-choice" checked> Tutor</label>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input uk-form-large" type="text" id="login-email" placeholder="Email address">
                      </div>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input uk-form-large" type="password" id="login-password" placeholder="Password">	
                      </div>
                    </div>
                    <div class="uk-margin">
                      <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1" uk-switcher-item="1">Next</button>
                    </div>
                  </form>
                </li>
                <li>
                    <div>
                        <progress class="uk-progress" value="25" max="100"></progress>
                    </div>
                  <h3 class="uk-card-title uk-text-center">Page 2!</h3>
                  <form id="login-form">
                    <div class="uk-text-medium uk-text-left">
                      Please select type of account
                    </div>
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                      <label><input class="uk-radio" type="radio" value="student" name="login-choice"> Student</label>
                      <label><input class="uk-radio" type="radio" value="tutor" name="login-choice" checked> Tutor</label>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input uk-form-large" type="text" id="login-email" placeholder="Email address">
                      </div>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input uk-form-large" type="password" id="login-password" placeholder="Password">	
                      </div>
                    </div>
                    <div class="uk-margin">
                      <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1" uk-switcher-item="2">Next</button>
                    </div>
                  </form>
                </li>
                <li>
                    <div>
                        <progress class="uk-progress" value="50" max="100"></progress>
                    </div>
                  <h3 class="uk-card-title uk-text-center">Page 3!</h3>
                  <form id="login-form">
                    <div class="uk-text-medium uk-text-left">
                      Please select type of account
                    </div>
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                      <label><input class="uk-radio" type="radio" value="student" name="login-choice"> Student</label>
                      <label><input class="uk-radio" type="radio" value="tutor" name="login-choice" checked> Tutor</label>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input uk-form-large" type="text" id="login-email" placeholder="Email address">
                      </div>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input uk-form-large" type="password" id="login-password" placeholder="Password">	
                      </div>
                    </div>
                    <div class="uk-margin">
                      <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1" uk-switcher-item="3">Next</button>
                    </div>
                  </form>
                </li>
                <li>
                    <div>
                        <progress class="uk-progress" value="75" max="100"></progress>
                    </div>
                  <h3 class="uk-card-title uk-text-center">Page 4!</h3>
                  <form id="login-form">
                    <div class="uk-text-medium uk-text-left">
                      Please select type of account
                    </div>
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                      <label><input class="uk-radio" type="radio" value="student" name="login-choice"> Student</label>
                      <label><input class="uk-radio" type="radio" value="tutor" name="login-choice" checked> Tutor</label>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input uk-form-large" type="text" id="login-email" placeholder="Email address">
                      </div>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input uk-form-large" type="password" id="login-password" placeholder="Password">	
                      </div>
                    </div>
                    <div class="uk-margin">
                      <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Submit</button>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>