{{> privateNavBar }}

<main>
  <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
      <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
          <div class="uk-width-1-1@m">
            <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
              <ul class="uk-subnav uk-subnav-pill" style="display: none" uk-switcher>
                <li><a href="#">Page1</a></li>
                <li><a href="#">Page2</a></li>
                <li><a href="#">Page3</a></li>
                <li><a href="#">Page4</a></li>
              </ul>
              <ul class="uk-switcher uk-margin">
                <li>
                    <div>
                        <progress class="uk-progress" value="5" max="100"></progress>
                    </div>
                  <h3 class="uk-card-title uk-text-center">Choose your preferred subject and level</h3>
                  <form id="profile1">
                    <div class="uk-margin">
                        <select id="subjectChoice" class="uk-select">
                            <option value="subject1">Subject 01</option>
                            <option value="subject2">Subject 02</option>
                        </select>
                    </div>
                    <div class="uk-margin">
                        <select id="levelChoice" class="uk-select">
                            <option>Beginner</option>
                            <option>Intermediate</option>
                            <option>Advance</option>
                        </select>
                    </div>
                    <div class="uk-margin">
                      <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1" uk-switcher-item="1">Next</button>
                    </div>
                  </form>
                </li>
                <li>
                    <div>
                        <progress class="uk-progress" value="25" max="100"></progress>
                    </div>
                  <h3 class="uk-card-title uk-text-center">Please enter your location</h3>
                  <form id="profile2">
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: location"></span>
                        <input class="uk-input uk-form-large" type="text" id="locationInput" placeholder="Location">
                      </div>
                    </div>
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                        <label><input class="uk-checkbox" type="checkbox" id="isRemote"> Remote Sessions?</label>
                    </div>

                    <div class="uk-margin">
                      <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1" uk-switcher-item="2">Next</button>
                    </div>
                  </form>
                </li>
                <li>
                    <div>
                        <progress class="uk-progress" value="50" max="100"></progress>
                    </div>
                  <h3 class="uk-card-title uk-text-center">Please enter your price per session</h3>
                  <form id="profile3">
                    <div class="uk-margin">
                        <div class="uk-margin">
                        <input class="uk-range" id="priceRange" type="range" value="1" min="0" max="50" step="0.5">
                        <h2 id="priceValueText">£0</h2>
                    </div>
                    </div>
                    <div class="uk-margin">
                      <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1" uk-switcher-item="3">Next</button>
                    </div>
                  </form>
                </li>
                <li>
                    <div>
                        <progress class="uk-progress" value="75" max="100"></progress>

                    </div>
                  <h3 class="uk-card-title uk-text-center">Please enter your links</h3>
                  <form id="profile4">
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: linkedin"></span>
                        <input class="uk-input uk-form-large" type="text" id="socialMediaLink" placeholder="Social Media">
                      </div>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                        <input class="uk-input uk-form-large" type="text" id="calendlyLink" placeholder="Calendly Link">	
                      </div>
                    </div>
                    <div class="uk-margin">
                      <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Submit</button>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>