{{> privateNavBar }}

   <main>
      <div
        class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade"
        uk-height-viewport
      >
        <div class="uk-width-1-1">
          <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
              <div class="uk-width-1-1@m">
                <div
                  class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large"
                >
                  <ul
                    class="uk-tab uk-flex-center"
                    uk-grid
                    uk-switcher="animation: uk-animation-fade"
                  >
                    <li class="uk-hidden"></li>
                  </ul>
                  <ul class="uk-switcher">
                    <li>
                      <h3 class="uk-card-title uk-text-center">
                        Create an ads
                      </h3>
                      <h4 class="uk-text-center">
                        Please fill in the following details
                      </h4>

                      <!--ABS FORM SECTION-->
                      <form class="uk-form-stacked uk-margin">
                        <div class="card-info uk-margin">
                          <label
                            class="uk-form-label uk-text-bold"
                            for="form-stacked-text"
                            >Title
                          </label>
                          <div class="uk-form-controls">
                            <input
                              class="uk-input"
                              id="form-stacked-text"
                              type="text"
                              placeholder="enter Title..."
                            />
                          </div>
                        </div>

                        <!-- form title section  -->
                        <div class="card-info uk-margin">
                          <label
                            class="uk-form-label uk-text-bold"
                            for="form-stacked-text"
                            >Advert Description
                          </label>
                          <div class="uk-form-controls">
                            <input
                              class="uk-input"
                              id="form-stacked-text"
                              type="text"
                              placeholder="enter Description..."
                            />
                          </div>

                          <!-- form subject section  -->
                          <div class="uk-margin">
                            <label
                              class="uk-form-label uk-text-bold"
                              for="form-horizontal-select"
                              >Subject</label
                            >
                            <div class="uk-form-controls">
                              <select
                                class="uk-select"
                                uk-form-custom="target: true"
                                id="form-horizontal-select"
                              >
                                <option id="subject-choices">select</option>
                                <option id="subject-choices">Math</option>
                              </select>
                            </div>
                          </div>

                          <!-- budget section  -->
                          <div class="uk-margin">
                            <label
                              class="uk-form-label uk-text-bold"
                              for="form-horizontal-select"
                              >Budget</label
                            >
                            <div class="uk-form-controls">
                              <select
                                class="uk-select"
                                id="form-horizontal-select"
                              >
                                <option id="subject-choices">Low</option>
                                <option id="subject-choices">Medium</option>
                                <option id="subject-choices">High</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <!-- button section  -->
                        <div class="uk-card-body">
                          <button
                            id
                            class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"
                          >
                            Button
                          </button>
                        </div>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>