<main class="main">
  <!-- banner section -->

  <section class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title animate__backInDown">
        Welcome to
        <span class="web-name">Buddy Up 2222</span>
      </h1>
      <p class="hero-message">Find your perfect study buddy</p>
      <div class="uk-navbar-item">
        <button class="uk-button uk-button-default create-btn" href="./">
          Start Now
        </button>
      </div>
    </div>
  </section>

  <!-- reviews section -->
  <section>
    <!-- reviews section title-->
    <h1 class="review-title">Our Reviews</h1>
    <div class="line"></div>
    <div class="uk-flex uk-flex-wrap uk-flex-center cards-container">
      <!-- review card 1 -->
      <div
        class="uk-card uk-card-default uk-card-secondary uk-card-body view-card"
      >
        <h3 class="uk-card-title">Adam Ress</h3>
        <img
          class="user-image"
          src="./assets/images/user.jpg"
          alt="user image"
        />
        <div class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p>
          "I have enjoyed using this application, It has helped me study with
          the help of other students motivation"
        </p>
      </div>

      <!-- review card 2 -->

      <div
        class="uk-card uk-card-default uk-card-secondary uk-card-body view-card"
      >
        <h3 class="uk-card-title">Alex Saxon</h3>
        <img
          class="user-image"
          src="./assets/images/user2.jpg"
          alt="user image"
        />
        <div class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p>
          "I have always wanted to learn music and now I am learning with an
          excellent tutor"
        </p>
      </div>

      <!-- review card 3 -->

      <div
        class="uk-card uk-card-default uk-card-secondary uk-card-body view-card"
      >
        <h3 class="uk-card-title">Emily woodland</h3>
        <img
          class="user-image"
          src="./assets/images/user3.jpg"
          alt="user image"
        />
        <div class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p>
          "I have used this to assist with my on line college classes and in the
          process I have made many friends"
        </p>
      </div>

      <!-- review card 4 -->
      <div
        class="uk-card uk-card-default uk-card-secondary uk-card-body view-card"
      >
        <h3 class="uk-card-title">Ainsley Harriott</h3>
        <img
          class="user-image"
          src="./assets/images/user4jpg.jpg"
          alt="user image"
        />
        <div class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p>
          "I learned so much from BuddyUp then I do in my in the class room, the
          tutors here cater to my learning style."
        </p>
      </div>
    </div>
  </section>
</main>