{{> privateNavBar }}

<form id="sendMessageForm">
    <div class="uk-margin">
        <input class="uk-input" type="text" id="messageInput" placeholder="Type Message">
    </div>
    <button class="uk-button uk-button-primary">Send Message</button>
</form>