{{> privateNavBar }}

 <main class="uk-container uk-width-1-1">
   <div id="mainSessions">
         <h1>My requests</h1>
          <hr class="uk-divider-icon" />
</div>
  <div id="receivedRequests">
         <h1>Received requests</h1>
          <hr class="uk-divider-icon" />
</div>
</main>