{{> privateNavBar }}




  <main>
      <!-- MY ADS CARD -->
      <section class="my-ads-container">
        <h1 class="title">My Ads</h1>

        <div class="uk-flex uk-flex-center ads-flex-container">
      {{#each userAds as | ad | }}
                       {{> adCard}}
                            {{/each}}
                          
        </div>
      </section>

      <!-- RECEIVED ADS SECTION -->
      <section class="my-ads-container">
        <h1 class="title">Received Ads </h1>

        <div class="uk-flex uk-flex-center ads-flex-container">
          <!-- card starts here -->
            {{#each allAds as | ad | }}
                       {{> receivedAdCard}}
                            {{/each}}
      
        </div>
      </section>
    </main>