{{> privateNavBar }}




  <main>
      <!-- MY ADS CARD -->
      <section class="my-ads-container">
        <h1 class="title">My Ads</h1>

        <div class="uk-flex uk-flex-center ads-flex-container">
      {{#each userAds as | ad | }}
                       {{> adCard}}
                            {{/each}}
                          
        </div>
      </section>

      <!-- RECEIVED ADS SECTION -->
      <section class="my-ads-container">
        <h1 class="title"> Search Ads</h1>


   <!-- SEARCH ADS  -->
                         <div class="uk-margin">
                          <label
                            class="uk-form-label uk-text-bold"
                            for="form-horizontal-select"
                            >Subject</label
                          >
                          <div class="uk-form-controls">
                            <select
                         id="adsSearchDiv"
                              class="uk-select"
                              uk-form-custom="target: true"
                              id="form-horizontal-select"
                            >
                            {{#each subjects}}
                            <option id="searchAds" value={{id}}>{{subjectName}}</option>
                            {{/each}}
                          
                            </select>
                          </div>
                        </div>


      </section>
    </main>


        </div>
      </section>
    </main>