{{> privateNavBar }}




  <main>
      <!-- MY ADS CARD -->
      <section class="my-ads-container">
        <h1 class="title">My Ads</h1>

        <div class="uk-flex uk-flex-center ads-flex-container">
          <!-- card starts here -->
          <div class="uk-card uk-card-default uk-width-1-2@m ads-card">
            <div class="uk-card-header">
              <div class="uk-grid-small" uk-grid>
                <div class="uk-width-auto"></div>
                <div class="uk-width-expand">
                  <br />
                  <p class="uk-text-meta uk-margin-remove-top uk-text-small">
                    TITLE HERE
                  </p>
                </div>
              </div>
            </div>
            <div class="uk-card-body">
              <p class="uk-text-small">Description HERE</p>
            </div>
            <div class="uk-card-body">
              <p class="uk-text-small">Subject HERE</p>
            </div>
            <div class="uk-card-footer">
              <a href="#" class="uk-button uk-button-text">
                <p class="uk-text-small">PRICE HERE</p></a
              >
            </div>
            <br />
            <br />
            <div
              class="uk-card uk-card-default uk-width-1-2@m uk-position-bottom-center uk-margin-bottom"
            >
              <button class="uk-button uk-button-primary" id="">Delete</button>
            </div>
          </div>

          <!-- second card -->
          <div class="uk-card uk-card-default uk-width-1-2@m ads-card">
            <div class="uk-card-header">
              <div class="uk-grid-small" uk-grid>
                <div class="uk-width-auto"></div>
                <div class="uk-width-expand">
                  <br />
                  <p class="uk-text-meta uk-margin-remove-top uk-text-small">
                    TITLE HERE
                  </p>
                </div>
              </div>
            </div>
            <div class="uk-card-body">
              <p class="uk-text-small">Description HERE</p>
            </div>
            <div class="uk-card-body">
              <p class="uk-text-small">Subject HERE</p>
            </div>
            <div class="uk-card-footer">
              <a href="#" class="uk-button uk-button-text">
                <p class="uk-text-small">PRICE HERE</p></a
              >
            </div>
            <br />
            <br />
            <div
              class="uk-card uk-card-default uk-width-1-2@m uk-position-bottom-center uk-margin-bottom"
            >
              <button class="uk-button uk-button-primary" id="">Delete</button>
            </div>
          </div>
        </div>
      </section>

      <!-- RECEIVED ADS SECTION -->
      <section class="my-ads-container">
        <h1 class="title">Received Ads </h1>

        <div class="uk-flex uk-flex-center ads-flex-container">
          <!-- card starts here -->
          <div class="uk-card uk-card-default uk-width-1-2@m ads-card">
            <div class="uk-card-header">
              <div class="uk-grid-small" uk-grid>
                <div class="uk-width-auto"></div>
                <div class="uk-width-expand">
                  <br />
                  <p class="uk-text-meta uk-margin-remove-top uk-text-small">
                    TITLE HERE
                  </p>
                </div>
              </div>
            </div>
            <div class="uk-card-body">
              <p class="uk-text-small">Description HERE</p>
            </div>
            <div class="uk-card-body">
              <p class="uk-text-small">Subject HERE</p>
            </div>
            <div class="uk-card-footer">
              <a href="#" class="uk-button uk-button-text">
                <p class="uk-text-small">PRICE HERE</p></a
              >
            </div>
            <br />
            <br />
            <div
              class="uk-card uk-card-default uk-width-1-2@m uk-position-bottom-center uk-margin-bottom"
            >
              <button class="uk-button uk-button-primary" id="">Accept</button>
              <button class="uk-button uk-button-danger" id="">Reject</button>
            </div>
          </div>

          <!-- second card -->
          <div class="uk-card uk-card-default uk-width-1-2@m ads-card">
            <div class="uk-card-header">
              <div class="uk-grid-small" uk-grid>
                <div class="uk-width-auto"></div>
                <div class="uk-width-expand">
                  <br />
                  <p class="uk-text-meta uk-margin-remove-top uk-text-small">
                    TITLE HERE
                  </p>
                </div>
              </div>
            </div>
            <div class="uk-card-body">
              <p class="uk-text-small">Description HERE</p>
            </div>
            <div class="uk-card-body">
              <p class="uk-text-small">Subject HERE</p>
            </div>
            <div class="uk-card-footer">
              <a href="#" class="uk-button uk-button-text">
                <p class="uk-text-small">PRICE HERE</p></a
              >
            </div>
            <br />
            <br />
            <div
              class="uk-card uk-card-default uk-width-1-2@m uk-position-bottom-center uk-margin-bottom"
            >
              <button class="uk-button uk-button-primary" id="">Accept</button>
              <button class="uk-button uk-button-danger" id="">Reject</button>
            </div>
          </div>
        </div>
      </section>
    </main>