* {
  margin: 0px;
  box-sizing: border-box;
}

/* colors*/
:root {
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --white: white;
  --bs-gray-700: #495057;
  --bs-gray-500: #adb5bd;
  --bs-gray-800: #343a40;
  --bs-gray-300: #dee2e6;
  --bs--gray: #f8f8f8;
  --black: black;
  --selective-yellow: #ffb703ff;
}

/* main */
.body {
  background: var(--bs--gray);
}

/* logo */
.uk-logo {
  font-family: "Bayon", sans-serif;
  margin-left: 20px;
  font-weight: bold;
  color: var(--black);
  letter-spacing: 0.1rem;
  transition: 0.6s;
}

/* logo icon */
.fa-user-group {
  color: var(--light-cornflower-blue);
}

/* Header styling */
.banner-background {
  margin: 20px;
  padding: 180px;
  text-align: center;
  background: var(--light-cornflower-blue);
  color: white;
  font-size: 30px;
}

.user-image {
  border-radius: 100%;
  width: 8rem;
}

.view-card {
  width: 18rem;
  margin: 10px 20px;
}

/* responsivness feature */
@media screen {
  .view-card {
    width: 20rem;
  }
}
.checked {
  color: var(--selective-yellow);
}

.rating {
  margin-top: 15px;
}

.footer-design {
  color: var(--light-cornflower-blue);
  opacity: 1;
}
